p {
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}

.input-text input {
    background-color: #F6F6F6;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    padding: 1rem;
    color: #BDBDBD;
}

.specs-inputs input {
    border-radius: 2rem;
}

.calculus-content {
    max-width: 600px;
    align-items: ;
}

.action-buttons button {
    border-radius: 2rem;
    padding: 1rem 0;
    border: 4px #45FEFE solid;
    cursor: pointer;
    font-weight: bold;
}

.action-buttons button:nth-of-type(1) {
    background-color:#45FEFE ;
}
.action-buttons input:nth-of-type(1) {
    gap: 1rem;
}

.img-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification-component {
    width: 343px;
}

.items-center {
    align-items: center;
  }

  .space-between {
    justify-content: space-between;
  }

  .width {
    width: 100%;
  }
  .gap {
    gap: 1rem;
  }

  bottom-styling {
    border: 1px solid #45FEFE;
  }



  
